In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame([['a',1,2],['b', 3,4]])

In [6]:
df

   0  1  2
0  a  1  2
1  b  3  4

In [18]:
for _, row in df.iterrows():
    print(row[0], list(row[1:]))
#     print(row.loc('2'))
#     print(index, row)

a [1, 2]
b [3, 4]

In [19]:
list_predicted_msid = ['msid2', 'msid1']
df_predicted = pd.DataFrame(list_predicted_msid)
df_predicted.to_csv('outfile_file_loc.csv', header=False, index=False)